html, body{
	background: #efeff4;
}

/* Default Status bar background */
.statusbar-overlay {
    background: pink;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
}

/* This will fix flicker navbar in left panel view */
.panel-left .page-content {
  padding: 0;
}
.panel-left .page {
  margin-top: 44px;
  padding-bottom: 44px;
}
.panel-left .navbar {
  position: relative;
  margin-bottom: -44px;
}
/* Because we have panels-overlay inside of .views we need to fix its open position for right panel */
body.with-panel-right-reveal .panel-overlay {
  margin-left: 0;
}
/* iPad Vertical */
@media (min-width: 569px) {
  .panel.panel-left.panel-cover {
    width: 320px;
    left: -320px;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
  }
}
/* iPad Horizontal */
@media (min-width: 769px) {
  body .panel.panel-left.panel-cover {
    left: 0;
    width: 320px;
    display: block;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .view-main {
    float: right;
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: -ms-calc(100% - 320px);
    width: calc(100% - 320px);
  }
  /* Let's hide panel-opener when left panel is visible */
  .view-main .navbar .open-panel {
    display: none;
  }
}


/*.page:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
		background: url(../images/4.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}*/

.pages {
	background: #f58634;
}

.list-block ul {
	background: #ffffff;
	color: #333;
}

.page-content {
	background: transparent;
	border-right: 1px solid #b2b2b2;
}

.toolbar {
	background: #f58634;
	border-top: 1px solid #f58634;
}

.navbar {
	background: #f58634;
	border-bottom: 1px solid #f58634;
}

.navbar a.link, .toolbar a.link, .toolbar a{
	color: #ffffff;
}

.navbar, .toolbar{
	color: #ffffff;
}

.button.active {
	background: #f58634;
	color: #fff;
}

.button {
	border: 1px solid #f58634;
	color: #f58634;
}

a{
	color: #f58634;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
	background: #f58634;
}

.button:active {
  background: rgba(245, 134, 52, 0.15)
}

.view-left {
	border-right: 0px solid #f58634;
}

.list-block .item-link.list-button{
	color: #f58634;
}

.navbar-inner, .toolbar-inner {
	background: #f58634;
}

.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 54px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}  

/*News*/


.card-content .item-header {
  padding: 5px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 13px;
  margin: 0 10px;
  overflow: hidden;
}
.card-content .item-header .avatar {
  float: left;
  width: 35px;
  height: 35px;
}
.card-content .item-header .avatar > img {
  width: 35px;
  height: 35px;
}
.card-content .item-header .detail {
  float: left;
  margin-left: 10px;
}
.card-content .item-header .detail > p {
  margin: 0;
}
.card-content .item-header .detail .nickname {
  color: #ff9630;
}
.card-content .item-header .detail .create-time {
  font-size: 11px;
  color: #999;
}
.card-content .item-header .item-time {
  float: right;
}
.card-content .item-subtitle {
  padding: 10px;
  white-space: normal;
}
.card-content .item-image {
  padding: 0 0 5px 10px;
}
.card-content .item-image > img {
  max-width: 50%;
  border: 0;
}
.item-detail .content-block {
  margin: 35px 0;
  padding: 0 15px;
  color: #6d6d72;
  margin: 0;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  padding: 0;
  border: 1px solid #EBE9E9;
  margin-bottom: 10px;
}

.card-content .col-33 {
	text-align: center;
	line-height: 35px;
	font-size: 14px;
}

.card-content .row {
	background: #efeff4;
}

